.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  .bg-azul{
    background-color:#001d7e;
  }
  .botones-principales{
    background-color: #f1cf00;
    color:#000;
  }
  .botones-principales:hover{
    background-color: #001d7e;
    color:#fff;
  }

  .a-menu{
    background-color: #001d7e;
    color:#fff;
    text-align: center;
  }

  .a-menu:hover{
    background-color: #001d7e;
    color:#f00;
    text-align: center;
  }

  form {
    max-width: 700px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }

  .tablas{
    max-width: 700px;
    padding: 20px;
  }

  .login{
    max-width: 300px;
  }
